$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

$flypanels_primary_color: #c0392b;

$flypanels_main_background_fade_opacity: 0.2;
$flypanels_top_bar_height: 50px;
$flypanels_panel_width: 90vw;
$flypanels_panel_small_screen_width: 50vw;
$flypanels_panel_medium_screen_width: 40vw;
$flypanels_panel_large_screen_width: 20vw;
$flypanels_panel_padding: 20;
$flypanels_top_bar_bgcolor: $flypanels_primary_color;

$flypanels_panel_bg: $flypanels_primary_color;
$flypanels_text_color: #fff;
$flypanels_link_color: $flypanels_text_color;

$flypanels_primary_font: Helvetica, sans-serif, arial;

$flypanels_loader_size: 120px;
$flypanels_loader_color: #fff;

$flypanels_transition_time: 0.5s;

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	100% {
		opacity: 0;
	}
	0% {
		opacity: 1;
	}
}

// generic transform
@mixin transform($transforms) {
	transform: $transforms;
}

// rotate
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	@include transform(scale($scale));
}
