.flypanels-container .offcanvas .panelcontent {
}
.panelcontent nav ul, .panelcontent nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panelcontent nav ul li a {
  color: #fff;
  padding-bottom: 14px;
  padding-left: 15px;
  display: block;
  border-bottom: 1px solid #e6b0aa;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
}

.panelcontent nav ul li a:hover {
  text-decoration: none;
  background-color: #e6b0aa;
  color: #c0392b;
}

.panelcontent nav ul li a:focus {
  text-decoration: none;
  background-color: #e6b0aa;
  color: #c0392b;
}


.panelcontent nav ul li a i {
  font-size: 12px;
  margin-right: 7px;
}
