html,body {
  margin: 0;
  padding: 0;
  font-family: @primary_font;
  line-height: 140%;
  overflow-x: hidden;
}

html.socm-open, body.socm-open {
  overflow: hidden;
  width: 100%
  height: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0px none;
}

.socm-container {
  .offcanvas {
    background-color: @top_bar_bgcolor;
    overflow: hidden;
    width: unit(@panel_width, px);
    .panelcontent {
      display:none;
      padding: @top_bar_height unit(@panel_padding, px) unit(@panel_padding, px) unit(@panel_padding, px);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
      z-index: 3;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .socm-right {
    margin-right: unit(-@panel_width, px);
    float: right;
  }
  .socm-left {
    margin-left: unit(-(@panel_width), px);
    float: left;
  }

  .socm-main {
    width: 100%;
    float: left;
    margin-left: 0px;
    .socm-content {
      padding: 10px;
      padding-top: 50px;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
    }
  }
  &.openleft {
    .socm-left {
      margin-left: 0px;
      overflow: hidden;
      width: unit(@panel_width, px);
      position: relative;
      .panelcontent {
        position: absolute;
      }
    }
    .socm-main {
      overflow: hidden;
      margin-right: -100%;
      .socm-content {
        overflow: hidden;
      }
    }
  }
  &.openright {
    .socm-right {
      margin-right: 0;
      overflow: hidden;
      width: unit(@panel_width, px);
      position: relative;
      .panelcontent {
        position: absolute;
      }
    }
    .socm-main {
      overflow: hidden;
      margin-left: unit(-(@panel_width), px);
      .socm-content {
        overflow: hidden;
      }
    }
  }
}
