.flypanels-topbar {
  width: 100%;
  height: @top_bar_height;
  background-color: @top_bar_bgcolor;
  position: fixed;
  z-index: 100;
  a {
    color: @text_color;
    text-decoration: none;
    font-size: 24px;
    &.flypanels-button-left,
    &.flypanels-button-right {
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      padding-top: 13px;
      display: block;
      float: left;
    }
    &.flypanels-button-right {
      float: right;
    }
  }


}
