@primary_color: #c0392b;

@loader_size: 120px;
@top_bar_height: 50px;
@panel_width: 260;
@panel_padding: 20;
@top_bar_bgcolor: @primary_color;

@text_color: #fff;

@primary_font: Helvetica, sans-serif, arial;
